.container {
    border: purple 3px dotted;
    padding-top: 200px;
    text-align: center;
    margin: 10px;
}

.green {
    text-align: center;
    font-size:10px;
    color: darkgreen;
}

.orange {
    font-size: 30px;
    color: orange;
}

.purple {
    color: purple;
    text-align: right;
    font-size: 5px;
}

body .orange span {
    color: red;
    vertical-align: super;
}

body .purple span {
    color: yellow;
}
